<!--------------------->
<!-- English Version -->
<!--------------------->
<div *ngIf="selectedLang == 'EN'" id="about">
	
	<!-- Inicio del Banner -->
	<app-banner [page_title_en]="page_title_en"></app-banner>
	<!-- Fin del Banner -->

	<!-- Inicio de About -->
		
	<div class="container">

		<div id="about-content">
			
			<div class="about-container row">
				<div class="col-lg-6 col-md-5 col-sm-12">
					<figure class="about-img mt-3">	
						<img class="img-fluid mx-auto" src="assets/img/svg/2.png" alt="">
					</figure>
				</div>
				<div class="about-info col-lg-6 col-md-7 col-sm-12">
					<p>Hey! My name is Mauro. I'm a Fullstack Developer based in Sweden.</p>
					<p>I have 3+ years of professional experience in tech support and web development, always providing high quality services to my clients.</p>
					<p>I'm a person with serious passion for programming and always up for learning new things.</p>
					<p>If you've got a project or idea you want me to work on just let me know.</p>
				</div>
			</div>
			
			

			<div class="about-skills col-lg-10 col-md-12 col-sm-12">
				<h3>SKILLS</h3>
				<img class="img-skill" src="assets/img/icon/html5.png" alt="html5">
				<img class="img-skill" src="assets/img/icon/css3.png" alt="css3">
				<img class="img-skill" src="assets/img/icon/angular.png" alt="angular">
				<img class="img-skill" src="assets/img/icon/laravel.png" alt="laravel">
				<img class="img-skill" src="assets/img/icon/mysql.png" alt="mysql">
				<img class="img-skill" src="assets/img/icon/java.png" alt="java">
				<img class="img-skill" src="assets/img/icon/nodejs.png" alt="nodejs">
				<img class="img-skill" src="assets/img/icon/javascript.png" alt="javascript">
				<img class="img-skill" src="assets/img/icon/android.png" alt="android">
				<img class="img-skill" src="assets/img/icon/wordpress.png" alt="wordpress">
				<img class="img-skill" src="assets/img/icon/unity.png" alt="unity">
				<img class="img-skill" src="assets/img/icon/csharp.png" alt="csharp">
			</div>
		</div>
		
	</div>
	
	<!-- Fin de About -->

</div>
<!------------------------------------------------------------------------------>
<!--------------------->
<!-- Spanish Version -->
<!--------------------->
<div *ngIf="selectedLang == 'ES'" id="about">
	
	<!-- Inicio del Banner -->
	<app-banner [page_title_es]="page_title_es"></app-banner>
	<!-- Fin del Banner -->

	<!-- Inicio de About -->
		
	<div class="container">

		<div id="about-content">
			
			<div class="about-container row">
				<div class="col-lg-6 col-md-5 col-sm-12">
					<figure class="about-img mt-3">	
						<img class="img-fluid mx-auto" src="assets/img/svg/2.png" alt="">
					</figure>
				</div>
				<div class="about-info col-lg-6 col-md-7 col-sm-12">
					<p>¡Hola! Me llamo Mauro. Soy un desarrollador Fullstack basado en Suecia.</p>
					<p>Tengo más de 3 años de experiencia en servicio técnico y desarrollo web, siempre buscando brindar servicios de calidad para mis clientes.</p>
					<p>Soy una persona apasionada por la programación y siempre estoy listo para aprender cosas nuevas.</p>
					<p>Si tenés algun proyecto o idea en mente, no dudes en consultarme.</p>
				</div>
			</div>
			
			

			<div class="about-skills col-lg-10 col-md-12 col-sm-12">
				<h3>CONOCIMIENTOS</h3>
				<img class="img-skill" src="assets/img/icon/html5.png" alt="html5">
				<img class="img-skill" src="assets/img/icon/css3.png" alt="css3">
				<img class="img-skill" src="assets/img/icon/angular.png" alt="angular">
				<img class="img-skill" src="assets/img/icon/laravel.png" alt="laravel">
				<img class="img-skill" src="assets/img/icon/mysql.png" alt="mysql">
				<img class="img-skill" src="assets/img/icon/java.png" alt="java">
				<img class="img-skill" src="assets/img/icon/nodejs.png" alt="nodejs">
				<img class="img-skill" src="assets/img/icon/javascript.png" alt="javascript">
				<img class="img-skill" src="assets/img/icon/android.png" alt="android">
				<img class="img-skill" src="assets/img/icon/wordpress.png" alt="wordpress">
				<img class="img-skill" src="assets/img/icon/unity.png" alt="unity">
				<img class="img-skill" src="assets/img/icon/csharp.png" alt="csharp">
			</div>
		</div>
		
	</div>
	
	<!-- Fin de About -->

</div>