<div id="web-development">
	<div class="banner">

		<div class="banner-title">
			<h1>Diseño Web</h1>
		</div>

		<nav aria-label="breadcrumb" class="container">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Home</a></li>
		    <li class="breadcrumb-item"><a href="/">Servicios</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Diseño Web</li>
		  </ol>
		</nav>

	</div>

	<div id="web-development-area">

		<!-- Services start -->
		<div id="services">
			<div class="container text-center">
			  <div class="row">

			    <div class="service-content col-md-3 col-sm-3">
			      <img src="assets/img/images/web-design.png">
			      <h5>Página web Básica</h5>
			      <p>Elegí tu pagina web básica para empezar con tu emprendimiento</p>
			    </div>

			    <div class="service-content col-md-3 col-sm-3">
			      <img class="service-icon" src="assets/img/images/web-design.png">
			      <h5>Aplicaciones Web</h5>
			      <p>Sistemas de gestión de stock, administrativos, registros de usuario, reserva de turnos y más</p>
			    </div>

			    <div class="service-content col-md-3 col-sm-3">
			      <img src="assets/img/images/web-design.png">
			      <h5>Sitio Ecommerce</h5>
			      <p>Páginas web para ventas y compras de productos para tu negocio.</p>
			    </div>

			    <div class="service-content col-md-3 col-sm-3">
			      <img src="assets/img/images/web-design.png">
			      <h5>Páginas para empresas</h5>
			      <p>Páginas web personalizadas orientadas a pequeñas y medianas empresas.</p>
			    </div>

			  </div>
			</div>
		</div>
		<!-- Services end -->

	</div>

</div>