<div class="main-content">

	<!-- Inicio del Banner -->
	<app-banner [page_title_en]="page_title_en"></app-banner>
	<!-- Fin del Banner -->

	<div id="content" class="container">
		
		<div class="card-deck">
		  <div class="card">
		    <img class="card-img-top" src="assets/img/courses/c-icon.png" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Curso de C</h5>
		      <p class="card-text">Proximamente...</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Proximamente...</small>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="assets/img/courses/java-icon.png" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Curso de Java</h5>
		      <p class="card-text">Proximamente...</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Proximamente...</small>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="assets/img/courses/unity3d-icon.png" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Curso de Unity3D</h5>
		      <p class="card-text">Proximamente....</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Proximamente...</small>
		    </div>
		  </div>
		</div>

	</div>
</div>