<!-- English version -->
<!-- -->
<section *ngIf="selectedLang == 'EN' " id="services">
	<!-- Inicio del Banner -->
	<app-banner [page_title_en]="page_title_en"></app-banner>
	<!-- Fin del Banner -->
	<div id="services-content">

	  <div class="container">
	      
	    <div class="row">

			  <div class="text-center col-md-6 col-lg-4">
			    <div id="service-item" >
			    	<span>
			      		<i class="services-icon fa fa-chrome"></i>
			      	</span>
			      	<h5>Web Design</h5>
			      	<p>Creative and fully responsive websites using modern technologies.</p>
			    </div> 
			  </div>

			  <div class="text-center col-md-6 col-lg-4 mb-3">
			    <div id="service-item">
			    	<span>
		      			<i class="services-icon fa fa-code"></i>
			      	</span>
			      	<h5>Web Development</h5>
			      	<p>Professional web application services for your business.</p>
			    </div>
			  </div>

			  <div class="text-center col-md-6 col-lg-4 mb-3">
			    <div id="service-item">
			    	<span>
			      		<i class="services-icon fa fa-shopping-cart"></i>
			  		</span>
			      	<h5>E-Commerce</h5>
			      	<p>Fully responsive e-commerce online store development.</p>
				</div>
			  </div>

			  <div class="text-center col-md-6 col-lg-4 mb-3">
			    <div id="service-item">
			    	<span>
			      		<i class="services-icon fa fa-gamepad"></i>
			  		</span>
			      	<h5>Video Game Development</h5>
			      	<p>Full game development using the Unity Engine and C#.</p>
				</div>
			  </div>

			  <div class="text-center col-md-6 col-lg-4 mb-3">
			    <div id="service-item">
			    	<span>
			      		<i class="services-icon fa fa-wordpress"></i>
			  		</span>
			      	<h5>Wordpress Website</h5>
			      	<p>Modern and self-managing websites using Wordpress.</p>
				</div>
			  </div>

			  <div class="text-center col-md-6 col-lg-4 mb-3">
			    <div id="service-item">
			    	<span>
			      		<i class="services-icon fa fa-laptop"></i>
			  		</span>
			      	<h5>Tech Support</h5>
			      	<p>Onsite tech support and remote assistance for pcs and laptops.</p>
				</div>
			  </div>

		</div>

	  </div>
	</div>

</section>
<!----------------------------------------------------------------------------------------->
<!-- Spanish version -->
<!-- -->
<section *ngIf="selectedLang == 'ES' " id="services">
	<!-- Inicio del Banner -->
	<app-banner [page_title_es]="page_title_es"></app-banner>
	<!-- Fin del Banner -->
	<div id="services-content">

	  <div class="container">
	      
	    <div class="row">

			  <div class="text-center col-md-6 col-lg-4">
			    <div id="service-item" >
			    	<span>
			      		<i class="services-icon fa fa-chrome"></i>
			      	</span>
			      	<h5>Diseño Web</h5>
			      	<p>Sitios web creativos y adaptables utilizando las ultimas tecnologias.</p>
			    </div> 
			  </div>

			  <div class="text-center col-md-6 col-lg-4 mb-3">
			    <div id="service-item">
			    	<span>
		      			<i class="services-icon fa fa-code"></i>
			      	</span>
			      	<h5>Desarrollo Web</h5>
			      	<p>Servicios de aplicaciones web profesionales para tu negocio.</p>
			    </div>
			  </div>

			  <div class="text-center col-md-6 col-lg-4 mb-3">
			    <div id="service-item">
			    	<span>
			      		<i class="services-icon fa fa-shopping-cart"></i>
			  		</span>
			      	<h5>E-Commerce</h5>
			      	<p>Desarrollo de tiendas online adaptables a cualquier dispositivo.</p>
				</div>
			  </div>

			  <div class="text-center col-md-6 col-lg-4 mb-3">
			    <div id="service-item">
			    	<span>
			      		<i class="services-icon fa fa-gamepad"></i>
			  		</span>
			      	<h5>Desarrollo de Videojuegos</h5>
			      	<p>Videojuegos desarrollados con el motor Unity3D y C#.</p>
				</div>
			  </div>

			  <div class="text-center col-md-6 col-lg-4 mb-3">
			    <div id="service-item">
			    	<span>
			      		<i class="services-icon fa fa-wordpress"></i>
			  		</span>
			      	<h5>Sitios Wordpress</h5>
			      	<p>Páginas autogestionables y modernas usando wordpress.</p>
				</div>
			  </div>

			  <div class="text-center col-md-6 col-lg-4 mb-3">
			    <div id="service-item">
			    	<span>
			      		<i class="services-icon fa fa-laptop"></i>
			  		</span>
			      	<h5>Soporte Técnico</h5>
			      	<p>Asistencia remota y servicio técnico onsite para notebooks y PCs de escritorio.</p>
				</div>
			  </div>

		</div>

	  </div>
	</div>

</section>