<div id="skills-content">
	<!-- Inicio del Banner -->
	<app-banner [page_title_en]="page_title_en"></app-banner>
	<!-- Fin del Banner -->
	<div id="services">

	  <div class="container">
	      
	    <div class="row">

	      <div class="service-content col-lg-3 text-center">
	        <i class="services-icon fa
	         fa-angular"></i>
	        <h3>Diseño Web</h3>
	        <p>Diseñamos páginas web personales o profesionales utilizando las ultimas tecnologias y responsive design</p>
	      </div>

	      <div class="service-content col-lg-3 text-center">
	        <i class="services-icon fa fa-android"></i>
	        <h3>Apps de Android</h3>
	        <p>Desarrollo de aplicaciones Android personalizadas para tu negocio o emprendimiento.</p>
	      </div>

	      <div class="service-content col-lg-3 text-center">
	        <i class="services-icon fa fa-gamepad"></i>
	        <h3>Videojuegos</h3>
	        <p>Creación de videojuegos para celulares y escritorio desarrollados con la plataforma Uinty.</p>
	      </div>

	      <div class="service-content col-lg-3 text-center">
	        <i class="services-icon fa fa-desktop"></i>
	        <h3>Servicio Tecnico</h3>
	        <p>Brindamos servicio técnico y asistencia remota para particulares y empresas.</p>
	      </div>

	    </div>
	  </div>
	</div>

</div>
